<section>

    <div data-aos="fade-right" class="contact-headline">
        <h2 class="red-text">{{'contact.title' | translate}}</h2>
        <img src="../../../assets/img/Arrow_contact.svg">
    </div>

    <div class="above-form">
        <span style="flex:.5">
            {{'contact.text' | translate}}
        </span>
        <div style="flex:.5; display: flex; justify-content: space-between;">
            <div class="flex-align-center mail">


                <svg width="29" height="30" viewBox="0 0 29 30" fill="#E15544" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M23.665 5H4.73296C3.43138 5 2.37829 6.125 2.37829 7.5L2.36646 22.5C2.36646 23.875 3.43138 25 4.73296 25H23.665C24.9666 25 26.0315 23.875 26.0315 22.5V7.5C26.0315 6.125 24.9666 5 23.665 5ZM23.1917 10.3125L14.8261 15.8375C14.4475 16.0875 13.9505 16.0875 13.5719 15.8375L5.20626 10.3125C4.91045 10.1125 4.73296 9.775 4.73296 9.4125C4.73296 8.575 5.59673 8.075 6.27119 8.5125L14.199 13.75L22.1268 8.5125C22.8012 8.075 23.665 8.575 23.665 9.4125C23.665 9.775 23.4875 10.1125 23.1917 10.3125Z" />
                </svg>

                <span>
                    E-mail: <a style="color: #02F4BF"
                        href="mailto:contact@christophvoelker.com">contact(at)christophvoelker.com</a>
                </span>
            </div>


            <a href="#top">
                <svg width="22" height="50" viewBox="0 0 22 50" fill="#E15544" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.58575 4.9366L2.67354 11.2396C2.29178 11.5877 1.7077 11.5877 1.32595 11.2396L0.810337 10.7694C0.375397 10.3728 0.375397 9.68822 0.810337 9.29161L10.3262 0.61441C10.708 0.266304 11.292 0.266304 11.6738 0.61441L21.1897 9.29161C21.6246 9.68822 21.6246 10.3728 21.1897 10.7694L20.6741 11.2396C20.2923 11.5877 19.7082 11.5877 19.3265 11.2396L12.4142 4.9366L12.4142 49C12.4142 49.5523 11.9665 50 11.4142 50H10.5858C10.0335 50 9.58575 49.5523 9.58575 49L9.58575 4.9366Z"
                        fill="#none" />
                </svg></a>

        </div>

    </div>




    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

        @if (translate.currentLang == "de")
        {
        <div class="above-form">
            <div style="flex:0.5">
                <input #name="ngModel" [(ngModel)]="contactData.name" title="Gib Deinen Namen an" type="text" id="name"
                    name="name" placeholder="Dein Name" required>
                <input #email="ngModel" [(ngModel)]="contactData.email" title="Gib Deine Mailadresse an" type="email"
                    id="email" name="email" placeholder="Deine Email"
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
            </div>
            <textarea style="flex:0.5" #message="ngModel" title="Gib Deine Nachricht ein" minlength="4"
                [(ngModel)]="contactData.message" id="message" name="subject" placeholder="Deine Nachricht"
                required></textarea>
        </div>
        } @else {
        <div class="above-form">
            <div style="flex:0.5">
                <div>
                    <input #name="ngModel" [(ngModel)]="contactData.name" title="Enter your name" type="text" id="name"
                        name="name" placeholder="Your Name" required>
                </div>
                <input #email="ngModel" [(ngModel)]="contactData.email" title="Enter your email adress" type="email"
                    id="email" name="email" placeholder="Your Email"
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
            </div>

            <div style="flex:0.5; position: relative; display:flex">
                @if (!message.valid && message.touched) {
                <span style="padding: 16px; font-size: 12px; position: absolute; bottom:10px;color: red;">Your message
                    is
                    required!</span>
                }
                <textarea #message="ngModel" title="Enter your message" minlength="4" [(ngModel)]="contactData.message"
                    id="message" name="subject" placeholder="Your Message" required></textarea>
            </div>


        </div>
        }


        <!-- @if (!message.valid && message.touched) {
        <span>Please enter a message</span>
        } @else if (!name.valid && name.touched) {
        <span>Please enter a Name</span>
        } @else if (!email.valid && email.touched) {
        <span>Please enter an Emailadress</span>
    }-->

        <!--
        <div style="position: relative; border:1px solid black; display: flex; align-items: center">
            <span style="padding: 16px; color: red; position: absolute; top: 0px">Your email is requ!</span>
            <input style="border:none; outline:none; margin-top: 0px; margin-bottom: 0px;" type="text"
                placeholder="test">
            <img src="../../../assets/img/contact/icon-alert.svg">
        </div>
    -->


        <div style="display:flex; justify-content: space-between;">

            <label class="checkbox">
                <input [(ngModel)]="contactData.accepted" #name="ngModel" required type="checkbox" class="checkbox">
                <!-- box: {{checkbox.checked}}
                form: {{contactForm.valid}} -->
                <!-- <span>{{'contact.privacy' | translate}} -->
                <span [innerHTML]="'contact.privacy' | translate">
                </span>
            </label>


            <!-- <input type="submit" value="Send"> -->
            <button type="submit" class="button secondary1" [disabled]="(!contactForm.valid)">Send</button>
        </div>





    </form>


</section>