.contact-headline {
  display: flex;
  align-items: center;
  gap: 20px;
}

.above-form {
  display: flex;
  gap: 40px;
  margin-bottom: 25px;
}

.flex-align-center {
  display: flex;
  align-items: center;
  gap: 8px;


}

.mail:hover {
  svg {
    fill: #02F4BF;
  }
}


a {
  svg {
    width: 38px;
    height: 68px;
    padding: 7px;
  }
}

a {
  svg:hover {
    fill: rgb(0, 255, 132);
    padding: 6px;
    border: 2px solid #02F4BF;
  }
}



@media only screen and (max-width: 1060px) {
  .contact-headline {
    justify-content: center;

    h2 {
      text-align: center;
    }

    img {
      display: none;
    }
  }

  .above-form {

    display: none;

    span {
      display: none;
    }
  }

}