.contact-headline {
  display: flex;
  align-items: center;
  gap: 20px;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text],
[type=email],
select,
textarea {
  background-color: transparent;
  //styleName: Version 1  Web/H5;
  color: #02F4BF;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1.5px solid #02F4BF;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  color: #827B7B;
  padding: 15px 30px;
  border: 1px solid #827B7B;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
}