section {
    display: flex;
    justify-content: space-around;
}


span {
    text-align: right;
    font-weight: 400;
    font-size: 16px;
}

img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: 0% 0%;
}


button {
    background-color: #02F4BF;
    color: #0B042D;
    width: 169px;
    height: 52px;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 30px;
    cursor: pointer;
    border: unset;
    font-family: 'robotomono';
}