section {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    font-size: 16px;
    font-weight: 400;

    img {
        height: 452px;
        width: 488px;
        object-fit: cover;
        object-position: 0% 0%;
    }

}


span {
    text-align: right;
    font-weight: 400;
    font-size: 16px;
}




