<section>

    <div class="left">
        <img src="../../../assets/img/whyme/hero.jpg">
    </div>

    <div class="right">

        <div>
            <h2 class="red-text">Why me</h2>
            <span class="green-text">

                {{'whyme' | translate}}

            </span>

        </div>

        <div>

            <h3 class="red-text">I am</h3>
            <div>
                <div class="loc-container">
                    <img (mouseenter)="toggler=false;" (mouseleave)="toggler=true;" class="loc-icon" style="width: 33px;height:41px"
                        src="../../../assets/img/location.svg">
                    <img [ngClass]="{'d-none': toggler}" style="width: 21px;height:9px"
                        src="../../../assets/img/Ellipse20.svg">
                </div>
                <span>located in Lübeck</span>
            </div>

            <img style="width: 23px;height:56px" src="../../../assets/img/Arrow 6.svg">

            <div>
                <img style="width: 54px;height:47px" src="../../../assets/img/Icon Remote.svg">
                <span>open to work remote</span>
            </div>

            <img style="width: 80px;height:37px" src="../../../assets/img/Arrow_contact.svg">

            <button>Let's talk</button>

        </div>
    </div>

</section>