<section>

    <img src="../../../assets/img/whyme/hero.jpg">

    <div>
        <h2 class="red-text">Why me</h2>
        <span class="green-text">

            {{'whyme' | translate}}

        </span>

    </div>

    <div>

        I am
        <img style="width: 33px;height:41px" src="../../../assets/img/location.svg">

        <img style="width: 23px;height:56px" src="../../../assets/img/Arrow 6.svg">

        <img style="width: 54px;height:47px" src="../../../assets/img/Icon Remote.svg">

        <img style="width: 33px;height:56px" src="../../../assets/img/Arrow 01.svg">

        <button>Let's talk</button>

    </div>

</section>