section {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    font-size: 16px;
    font-weight: 400;

    .left {
        flex: 0.4;
    }

    .right {
        flex: 0.6;
    }

    img {
        height: 452px;
        width: 488px;
        object-fit: cover;
        object-position: 0% 0%;
    }

}


@media only screen and (max-width: 600px) {

    h2 {
        font-size: 32px;
    }

    section {
        .left {
            display: none;
        }

        .right {
            flex: 1;
        }
    }

}