header {
    width: 100vw;
    height: 92px;
    background: linear-gradient(180deg, #0B042D 63.5%, rgba(11, 4, 45, 0.2) 118.69%);
    position: sticky;
    z-index: 50;
    top: 0;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1440px;
        padding: 0px 50px;
    }
}