header {
    width: 100%; // 100vw macht Probleme!
    background: linear-gradient(180deg, #0B042D 63.5%, rgba(11, 4, 45, 0.2) 118.69%);
    position: sticky;
    z-index: 50;
    top: 0;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1440px;
        padding: 0px 50px;
        height: 92px;
        font-weight: 500;
        font-size: 22px;

        .links {
            display: flex;
            align-items: center;
            gap: 48px;
        }

        .languageSelector {
            gap: 6px;

            a:hover {
                cursor: pointer;
            }
        }

        .burger {
            display: none;
        }


    }
}

.headerPopup {
    gap: 40px;
    align-items: center;
    padding: 30px 50px;
    background: linear-gradient(180deg, #13074E 46.5%, rgba(29, 10, 121, 0.95) 91%);
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    position: fixed;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 980px) {

    header {

        nav {

            .burger {
                display: flex;
            }

            .languageSelector {
                display: none;
            }

            .linklist {
                display: none;
            }

        }
    }

}


@media only screen and (max-width: 400px) {


    header {
        nav {
            padding: 0px 10px;
        }
    }


    .headerPopup {
        padding: 30px 10px;
    }
}