<nav>
    <div>
        <app-logo></app-logo>
        <a href="#whyme">{{'menu.why' | translate}}</a>
        <a href="#skills">{{'menu.skills' | translate}}</a>
        <a href="#projects">{{'menu.projects' | translate}}</a>
        <a href="#contact">{{'menu.contact' | translate}}</a>
    </div>

    <div class="languageSelector">
        <a [ngStyle]="{'color': getLanguage1()}" (click)="useLanguage('de')">DE</a>
        |
        <a [ngStyle]="{'color': getLanguage2()}" (click)="useLanguage('en')">EN</a>
    </div>
</nav>