@font-face {
    font-family: 'handjet';
    src: url('../../../assets/font/handjet.ttf') format('truetype');
}

span {
    font-family: 'handjet', sans-serif;
    font-weight: 500;
    font-size: 48px;
    letter-spacing: 0.025em;
}