
/* Style inputs with type="text", select elements and textareas */
input[type=text],
[type=email],
textarea {
  background-color: transparent;
  //styleName: Version 1  Web/H5;
  color: #02F4BF;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1.5px solid #02F4BF;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  color: #827B7B;
  padding: 15px 30px;
  border: 4px solid #827B7B;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
}



input[type=text]:user-invalid {
  border: 1px solid red;
}

input[type=email]:user-invalid {
  border: 1px solid red;
}

textarea:user-invalid {
  border: 1px solid red;
}


.hover-fat:hover {
  font-weight: 700;
  color: #E15544;
}



.checkbox {
  display: flex;
  cursor: pointer;
  position: relative;
}

label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox>span {
  //color: #34495E;
  //padding: 0.5rem 0.25rem;
}

.checkbox>input {
  height: 18px;
  width: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 3px solid #E15544;
  border-radius: 2px;
  outline: none;
  //transition-duration: 0.3s;
  //background-color: #41B883;
  cursor: pointer;
}

.checkbox>input:checked {
  //border: 1px solid #41B883;
  //background-color: #34495E;
}

//.checkbox>input:checked+span::before {
.checkbox>input:checked+span::before {
  content: '\2714';
  width: 18px;
  height: 18px;
  display: flex;
  //text-align: center;
  justify-content: center;
  color: #E15544;
  position: absolute;
  left: 0px;
  top: 0x;
  background-color: #02F4BF;
  scale: .75;

}

.checkbox>input:hover {
  //border: 2px solid #34495E;
  background-color: #02F4BF;
}


button:disabled,
button[disabled] {
  background-color: transparent;
  border: 1px solid #827B7B;
  color: #827B7B;
  font-size: 18px;
  font-weight: 500;
}