<section>
    <h2 data-aos="zoom-in" class="red-text centered">{{'projects.title' | translate}}</h2>

    @for (item of projectsList; track item.name; let toggler = $odd) {
    <div [ngClass]="{'reverse':toggler}" class="singleProject">
        <img src="../../../assets/img/projects/{{item.img}}">

        <div class="otherSide">
            <h3>{{item.name}}</h3>
            <span>{{item.skills}}</span>

            @if (translate.currentLang == "de")
            {
            <span>{{item.textde}}</span>} @else {
            <span>{{item.text}}</span>}
            <div class="button-pair">
                <a href="{{item.gitURL}}"><button class="secondary1">GitHub</button></a>
                <a href="{{item.liveURL}}"><button class="primary1">Live Test</button></a>
            </div>
        </div>
    </div>
    }

</section>