.singleProject {
    display: flex;
    //flex-direction: row-reverse;
    max-width: 1178px;;

    .otherSide {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 588px;
        height: 371px;
        object-fit: cover;
        object-position: 0%;
    }
}


.reverse {
    flex-direction: row-reverse;
}