<section>
    <h2 class="red-text centered">{{'projects.title' | translate}}</h2>

    @for (item of projectsList; track item.name; let toggler = $odd) {
    <div [ngClass]="{'reverse':toggler}" class="singleProject">
        <img src="../../../assets/img/projects/{{item.img}}">

        <div class="otherSide">
            <h3>{{item.name}}</h3>
            <span>{{item.skills}}</span>

            @if (translate.currentLang == "de" || translate.currentLang === undefined )
            {
            <span>{{item.textde}}</span>} @else {
            <span>{{item.text}}</span>}
            <div class="button-pair">

                @if (item.buttons == 3) {
                <a target="_blank" href="{{item.gitURLBackend}}"><button class="secondary1">{{item.buttonText1}}</button></a>
                <a target="_blank" href="{{item.gitURLFrontend}}"><button class="secondary1">{{item.buttonText2}}</button></a>
                <a target="_blank" href="{{item.liveURL}}"><button class="primary1">Live Test</button></a>
                }
                @else {
                <a target="_blank" href="{{item.gitURL}}"><button class="secondary1">GitHub</button></a>
                <a target="_blank" href="{{item.liveURL}}"><button class="primary1">Live Test</button></a>
                }
            </div>
        </div>
    </div>
    }

</section>