<section>

    <h2 class="red-text">My Projects</h2>

    @for (item of projectsList; track item.name; let toggler = $odd) {
    <div [ngClass]="{'reverse':toggler}" class="singleProject">
        <img src="../../../assets/img/projects/{{item.img}}">

        <div class="otherSide">
            <h3>{{item.name}}</h3>
            <span>{{item.skills}}</span>
            <span>{{item.text}}</span>
            <div>
                <button><a href="{{item.gitURL}}">GitHub</a></button>
                <button><a href="{{item.liveURL}}">Live Test</a></button>
            </div>
        </div>
    </div>
    }

</section>