body {

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


h2 {
    margin-bottom: 30px;
    margin-top: 20px;
}

h3 {
    margin-bottom: 20px;
    margin-top: 10px;
}

h4 {
    margin-top:10px;
}

p {
    margin: 20px;
}


h2,
h3,
h4 {
    color: #E15544;
}


@media only screen and (max-width: 520px) {

    h2,
    h3,
    h4 {
        font-size: 16px;
    }

    h4 {
        margin-top: 10px;
    }

    p {
        margin: 20px 0px;
    }


}