<app-nav-bar class="red-text"></app-nav-bar>


<section>
    <h2 class="red-text">{{'footer.legal' | translate}}</h2>
    <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
        <p>{{'legal.accordingto' | translate}}:</p><br>
        <p>Christoph Völker<br />
            Koppelbarg 33<br />
            23564 Lübeck</p>
    </div>

    <!--<h3 class="red-text">{{'contact.title' | translate}}</h3> -->
    <div style="gap: 10px; display:flex; flex-direction:column; align-items: center;">
        <span>E-Mail:</span>
     <span><a href="mailto:contact(at)christophvoelker.com">contact(at)christophvoelker.com</a></span>
    </div>
</section>