<section>
    <h3>Quereinsteiger gesucht?</h3>

    <div class="container">

        <img src="../../../assets/img/arrow_cv.svg">

        <div class="item">
            <h4>ab 1991</h4>
            <p>C64 bei Freunden. Textadventure in Basic programmiert und auf Datasette gespeichert. Amiga 500 vom großen Bruder eifrig genutzt und dann der eigene PC (Pentium 133) zur Konfirmation.</p>
        </div>
        <div class="item">
            <h4>ab 1996</h4>
            <p>Eigenen Telefonanschluss + 28,8 Modem von US Robotics und eigene Mailbox. Dann mit AOL ins Internet. Napster, Soulseek, wilde Zeiten.</p>
        </div>
        <div class="item">
            <h4>ab 2006</h4>
            <p>Im Hiwi-Job Webseiten programmieren, dann mit Matlab (und R) richtig durchstarten ins Coding. Umstieg von Windows auf Linux.</p>
        </div>
        <div class="item">
            <h4>ab 2016</h4>
            <p>Promotion in OL. Dann Lehrer an Berufsschule. Weiterbildung bei der Developer Akademie zum Fullstack Entwickler.</p>
        </div>

    </div>


</section>