h3 {
    font-size: 24px;
    font-weight: 700;
    color: #E15544;
}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    .arrow {
        //display: none;
    }


    .item {
        padding: 15px;
        border: 1.5px solid #02F4BF;
        width: 20%;

        /* das hier hinzufügen: */
        min-width: 200px;
        /* oder was für deine Inhalte sinnvoll ist */
        box-sizing: border-box;
        word-wrap: break-word;
        /* für lange Wörter */


        h4 {
            color: #E15544;
            text-align: center;
            margin-bottom: 8px;

        }
    }
}