.skillContainer {
    display: grid;
    //grid-template-rows: 3;
    //gap: 150px;
    //flex-wrap: wrap;
    //max-width: 1200px;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 5rem;



    .singleSkill {
        //width: 88px;
        max-height: 120px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;


        img {
            height: 60px;
        }
    }

    .challengeSkill {
        //display: flex;
        //grid-column-start: span 2;
        //width: 384px;
        //flex-direction: row;
        //gap: 35px;


        span {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
        }

    }

}


@media only screen and (max-width: 1060px) {




    h2 {
        text-align: center;
    }

    .skillContainer {
        grid-template-columns: repeat(3, 1fr);

        span {
            display: none;
        }

    }


    .singleSkill {
        img {
            height: 45px !important;
            width: auto;
        }

        span {
            display: none !important;
        }
    }

}