<section>

    <h2 data-aos="fade-right" class="red-text">{{'skills.title' | translate}}</h2>


    <div class="skillContainer">

        @for (item of skillsList; track item.name; let last = $last) {
        @if(!last){

        <div class="singleSkill">
            <img src="../../../assets/img/skills/{{item.img}}">
            <span style="text-align: center;" [innerHTML]="item.name"></span>
        </div>
        } @else {
        <div class="challengeSkill">
            <div class="singleSkill" (mouseenter)="challengeHover=true;" (mouseleave)="challengeHover=false;">
                <img src="../../../assets/img/skills/{{item.img}}">
                <!-- <span>{{item.name}}</span> -->
                <span>{{'skills.challenge-title' | translate}}</span>
            </div>
            <span style="width: 250px;" [ngClass]="{'d-none': !challengeHover}">
                {{'skills.challenge-text' | translate}}
            </span>
        </div>
        }
        }




    </div>



</section>