section {
    margin-top: 92px;
    //height: calc(100vh - 92px); // minus nav height 
}

h1 {
    font-size: 64px;
    font-weight: 500;
}

h2 {
    font-size: 82px;
    font-weight: 700;
}

.middle {
    //position: relative;
    display: flex;
    //align-items: end;
    justify-content: space-around;

    img {
        height: 600px;
        width: auto;
        //object-fit: cover;
        //object-position: 0% 0%;
    }

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 38px;
        height: 68px;
        padding: 7px;
    }

    svg:hover {
        fill: rgb(0, 255, 132);
        padding: 6px;
        border: 1px solid #02F4BF;
    }

    span {
        display: inline-block;
        margin-bottom: 100px;
        transform: rotate(-90deg) translateY(-50px);
        border: 1px solid #02F4BF;
        padding: 15px 30px;
        color: #E15544;
        font-weight: 500;
        font-size: 18px;
    }

    span:hover {

        color: #02F4BF;
    }
}


@media only screen and (max-width: 600px) {
    h1 {
        font-weight: 700;
        font-size: 24px;
    }

    h2 {
        font-weight: 700;
        font-size: 40px;
    }

    .whyme-arrow {
        display: none;

    }

    .contact-button {
        display: none;
    }

    .middle {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        

        img {
            height: 370px;
        }
    }

}