button {
    width: 169px;
    height: 60px;
    padding: 0px 0px;
    cursor: pointer;
    border: unset;
    font-family: 'robotomono';
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary1 {
    background-color: #02F4BF;
    color: #0B042D;
    font-size: 18px;
    font-weight: 500;

    &:hover {
        color: #E15544;
    }
}

.primary2 {
    background-color: #02F4BF;
    color: #E15544;
    font-size: 18px;
    font-weight: 500;
}

.primary3 {
    background-color: #02F4BF;
    color: #E15544;
    font-size: 18px;
    font-weight: 700;
}

.primary4 {
    background-color: #BEBEBE;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.secondary1 {
    background-color: transparent;
    border: 1px solid #02F4BF;
    color: #E15544;
    font-size: 18px;
    font-weight: 500;

    &:hover {
        color: #02F4BF;
    }

}

.secondary2 {
    background-color: transparent;
    border: 1px solid #02F4BF;
    color: #02F4BF;
    font-size: 18px;
    font-weight: 500;
}

.secondary3 {
    background-color: transparent;
    border: 1px solid #E15544;
    color: #E15544;
    font-size: 18px;
    font-weight: 700;
}

.secondary4 {
    background-color: transparent;
    border: 1px solid #827B7B;
    color: #827B7B;
    font-size: 18px;
    font-weight: 500;
}


@media only screen and (max-width: 600px) {
    button {
        padding: 12px 20px !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        width: 137px;
        height: 50px;
    }
}