* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(174.25deg, #0B042D 24.9%, #1F0B80 39.2%, #0B042F 72.02%, #241085 106.54%);
    width: 1440px;
    height: 4348px;
}

.red-text {
    color: #E15544;
}


.green-text {
    color: #02F4BF;
}