@import 'reset.scss';
@import 'scrollbar.scss';
@import 'buttons.scss';


* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'robotomono';
    src: url('./assets/font/robotomono.ttf') format('truetype');
}


@supports (not (-moz-appearance: none)) {
    html {
        scroll-padding-top: 92px;
    }
}


body {
    font-family: 'robotomono', sans-serif;
    background: linear-gradient(174.25deg, #0B042D 24.9%, #1F0B80 39.2%, #0B042F 72.02%, #241085 106.54%);
    width: 100%;
    max-width: 1920px;
    /*height: 4348px;*/
    font-size: 18px;
    font-weight: 400;
    color: #02F4BF;

    a {
        text-decoration: none;
        color: #E15544;

        &:hover {
            color: #02F4BF;
        }
    }

}

section {
    margin-top: 100px;
    width: 100%;
    padding: 0px 100px;
    //border: 1px solid red;
}


.red-text {
    color: #E15544;
}


.green-text {
    color: #02F4BF;
}

h2 {
    margin-bottom: 30px;
    font-size: 54px;
    font-weight: 500;
}

h3 {
    font-size: 48px;
    font-weight: 700;
}

.right {
    text-align: right;
}

.centered {
    text-align: center;
}

.grid-centered {
    align-self: center;
    justify-self: center;
}

.flex-row-center {
    display: flex;
    justify-items: center;
}

.git {
    background-color: transparent;
    border: 1px solid #02F4BF;
    color: #E15544;
}


input {
    font-family: 'robotomono';
}


.d-none {
    display: none !important;
}