footer {
    //margin-top: 100px;
    height: 96px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0px 50px;
    margin-top: auto;

    .footer-links {
        display: flex;
        gap: 25px;
    }

    .footer-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .footer-middle-upper {
            font-size: 23px;
            font-weight: 400;
        }

        .footer-middle-lower {
            display: flex;
            gap: 16px;
            font-size: 14px;
            font-weight: 400;
        }

    }

    .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-size: 12px;
            font-weight: 500;
        }

    }


}


svg:hover {
    fill: #02F4BF;

    rect {
        fill: #02F4BF;
    }
}



@media only screen and (max-width: 1060px) {

    footer {
        flex-direction: column-reverse;

        .footer-links {
            order: 3;
            //flex-direction: column;
            justify-content: center;
            margin-bottom: 50px;
        }

        .footer-middle {
            order: 0;
            font-size: 14px !important;
            font-weight: 400 !important;
        }

        .footer-middle-lower {
            align-items: center;
            flex-direction: column;
            margin-bottom: 30px;
        }

        .footer-middle-upper {
            margin-bottom: 30px;
            font-size: 14px !important;
            font-weight: 400 !important;
        }


        .footer-logo {
            margin-bottom: 8px;
            order: 1;

            span {
                display: none;
            }

        }

    }

}